#header {
    background-color: transparent;
    color: purple;
}

#mission{
    font-family: 'Gloria Hallelujah', cursive;
}

#thanosScore, #avengerScore, #wins, #losses, #currentScore, #targetScore {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
} 